.data{
    background-color: var(--card-background);
    width: 220px;
    padding: 20px 16px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;

}
.data__img{
    border-radius: 12px;
    display: block;

    margin: auto;
}
.data__name{
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
    color: var(--text);
}
.data__details{
  
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
    color: var(--text);

}
.data__oldPrice{
    text-decoration: line-through;
}
.data__Price{
    font-weight: bold;
}
