*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 :root{
    --main: #D93636;
    --secondary: #D93240;
    --white: #FFF;
    --card-background: #f2f2f0;
    --text: #403f37;
    --container: #BFBFBF;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: var(--text); */
} 